
* {
padding: 0;
margin: 0;
}

html {
box-sizing: border-box;
}




/*

font-family: "acumin-pro", sans-serif;
font-weight: 900;
font-style: normal;

font-family: "bonnie", sans-serif;
font-weight: 900;
font-style: normal;

*/