<!DOCTYPE html>
<html lang="en">
    <head>
      <title></title>
      <link rel="stylesheet" href="https://use.typekit.net/cgd6ahk.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    </head>
    <body>
        <div class="masthead-content">
            <header>
               <h1><a href="{{ url_for('homepage')}}">SUPERNOVA</a></h1>
               <nav>
                  <ul>
                   <li><a href="/#about">About</a></li>
                   <li><a href="/#contact">Contact</a></li>
                   <li><a href="{{ url_for('signin')}}">Sign in</a></li>
                   <li><a href="{{ url_for('signup')}}">Get started</a></li>
                   <li></li>
                  </ul> 
               </nav>
            </header>
        {% block content %}{% endblock %}
    </body>
</html>