{% extends 'base.html' %}
{% block content %}
 <div id="content">
   <h2>Currency of the future</h2>
   <p>Buy and sell cryptocurrency</p>
   <a href="{{ url_for('signup')}}" id="">Sign up</a>
 </div>
</div>
<div id="about">
    <h2>Build your crypto portfolio</h2>
    <p>Manager your portfolio in one place</p>
    <div class="flex-items">
      <img src="{{ url_for('static', filename='images/borsalino.svg')}}" alt="">
      <span>Borsalino</span>
      <p>$20,0000</p>
      <p>-2.3%</p>
      <a href="">Buy</a>
    </div>
    <div class="flex-items">
        <img src="{{ url_for('static', filename='images/chalawan.svg')}}" alt="">
        <span>Chalawan</span>
        <p>$5,0000</p>
        <p>+2.3%</p>
        <a href="">Buy</a>
      </div>
      <div class="flex-items">
        <img src="{{ url_for('static', filename='images/bluu.svg')}}" alt="">
        <span>Bluu</span>
        <p>$2,0000</p>
        <p>+7.0%</p>
        <a href="">Buy</a>
      </div>
</div>
<div id="contact">
  <form method="post">
    <h2>Contact us</h2>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="subject" placeholder="Subject">
    <input type="email" name="email" placeholder="E-mail">
    <textarea name="message" placeholder="Message"></textarea><br>
    <input type="submit" value="send">
  </form>
</div>
{% endblock %}